.lite {
  max-width: 350px; /** For sideBar components. */
}

.redInputBox input:focus {
  border-bottom-color: rgb(196, 49, 75);
}

#FormTitle {
  font-size: large;
  background-color: transparent;
}
